
const char* ID = "lock1";

const char* WIFI_SSID = "SSID";
const char* WIFI_PASSWORD = "password";

const char* MQTT_USER = "user";
const char* MQTT_PASSWORD = "password";

const char* MQTT_ADDR = "192.168.1.238";